<!DOCTYPE html>
<html>
<head>
  <title>RailsAngularApp</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"  %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="angApp" ng-controller="MainController">
	<div class="container">
		<h1>{{ app_name }}</h1>
		<%= yield %>
	</div>
</body>
</html>
